.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.page{
  font-family: "LatoRegular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #331A2F;

  margin: 0;
  padding: 0;
  position: relative;
  @media (min-width: $desctop-width){
    &::before{
      content: url(../img/image/Webp/Group379.webp);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @media (min-width: $max-desctop-width){
    &::before{
      content: url(../img/image/Webp/Max-BG-Ellipse-Left.webp);
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after{
      content: url(../img/image/Webp/Max-BG-Ellipse-Right.webp);
      position: absolute;
      top: 404px;
      right: 0;
    }
  }
}

.page-body{
  margin: 0;
  padding: 0;
}

.page-header{
  margin: 39px auto 44px;
  padding: 0;
  @media (min-width: $table-width){
    margin: 45px auto 56px;
  }
  @media (min-width: $desctop-width){
    margin: 40px auto 75px;
  }
  @media (min-width: $max-desctop-width){
    margin: 35px auto 66px;
  }
}

.page-main{
  margin: 0 auto;
  padding: 0;
}